@use '../../scss/abstracts/' as *;

.search{
    @include flex(center, flex-start);
    padding:0;
    margin-left: -20px;
    width: 100%;
    @media only screen and (max-width: 1360px){
        margin-left: -35px;
    }
    @media only screen and (max-width: 1328px){
        margin-left: -45px;
    }
    @media only screen and (max-width: 1316px){
        width: 100%;
    }
    @media only screen and (max-width: 1120px){
        margin-left: -45px;
    }
    @media(max-width: 1080px){
        margin-left: -55px;
    }
    @media(max-width: 890px){
        width:100%;
    }
    @media only screen and (max-width: 768px){
        margin-left: -30px;
    }
    
    
    input{
        width: 591.59px;
        height: 44px;
        margin-right: 4px;
        border-radius: 3px;
        border: none;
        padding-left: 40px;
        padding-right: 20px;
        outline: none;
        @media only screen and (max-width: 1360px){
            width: 540px;
        }
        @media only screen and (max-width: 1328px){
            width:530px;
        }
        @media only screen and (max-width: 1316px){
            width: 520px;
        }
        @media only screen and (max-width: 1220px){
            width: 440px;
        }
        @media only screen and (max-width: 1165px){
            max-width: 70%;
        }
        @media(max-width: 1080px){
            width:400px;
        }
        @media(max-width: 1045px){
            width: calc(100% + 20px);
        }
        @media only screen and (max-width: 1040px){
            width: 420px;
        }
        @media(max-width: 932px){
            margin-left: -25px;
        }
        @media(max-width: 918px){
            margin-left: -35px;
        }
        @media(max-width: 849px){
            width: 400px;
            margin-left: 5px;
        }
        @media only screen and (max-width: 768px){
            width: 600px;
        }
        @media only screen and (max-width: 600px){
            width: 500px;
            margin-left:15px;
          }
        @media (max-width: 540px) {
            width: 100%;
            margin-left:20px;
        }
        @media only screen and (max-width: 400px){
            margin-left:10px;
            width: 300px;
            margin-right: 10px;
          }

    }
    .searchAlign{
        display: flex;
        flex-direction:row;
        i{
            position: relative;
            top: 13px;
            color: #bbb;
            left: 30px;
            @media (max-width: 1220px) {
                left: 20px;
            }
            @media(max-width: 900px){
                left: -10px;
            }
            @media only screen and (max-width: 849px){
             left:30px;
            }
            @media only screen and (max-width: 600px){
                left: 40px;
              }
            @media (max-width: 540px) {
                left:45px;
            }
        }
    }
    button{
        width: 124.6px;
        height: 44px;
        color: $white;
        background: $sideactive;
        border-radius: 3px;
        border: none;
        @media only screen and (max-width: 1165px){
            max-width: 40%;
            margin-left: -70px;
        }
        @media only screen and (max-width: 1040px){
            margin-left: 13px;
        }
        @media only screen and (max-width: 1040px){
            margin-left: -20px;
        }
        @media only screen and (max-width: 950px){
            font-size: 13px;
            margin-left: -60px;
          }
          @media(max-width: 918px){
            margin-left: -75px;
        }
        @media(max-width: 900px){
            margin-left: -90px;
        }
        @media(max-width: 850px){
            margin-left: -100px;
        }
        
        @media(max-width: 540px){
            width: 50%;
        }

    }

        @include tablet {
            padding: 0 $mobileSpacing;
        }
    }

