$bodyBg: #F3F4FA;
$mainBg: #fff;
$buttonBG: #02AAB0;
$txtColor: #4E4D4F;
$sideactive: #02AAB0;
$middleBG: #E5E5E5;
$textalt: #645D66;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #DB190C;

$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 280px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
