*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}
body{
    background: #fff;
}
h1{
    font-weight: 900;
}
.imgUser{
    border-radius: 20px;
  }
  .carousel-indicators{
      position: absolute;
      top: 460px;
  }
  @media(max-width: 900px){
    .right-hero{
        transform: translateX(-80px);
        width: 100%;
       
    }
  } 

  /* //remove to seprate file */
 