*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.imgUser{
    border-radius: 20px;
  }
  .carousel-indicators{
      position: absolute;
      top: 500px;
  }

  
