*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}
body{
    background: #fff;
}

h1{
    font-weight: 900;
}
.imgUser{
    border-radius: 20px;
  }
  .carousel-indicators{
      position: absolute;
      top: 500px;
  }

  @media(max-width: 900px){
    .right-hero{
        transform: translateX(-80px);
        width: 100%;
    }
    .carousel-indicators{
        top: 150px;
    }
} 
@media(max-width: 1045px){
    .carousel-indicators{
        top: 460px;    
    }
}

  /* //remove to seprate file */
 