@use './abstracts/' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    ::-webkit-scrollbar{
        width: 8px;
    }
    ::-webkit-scrollbar-track{
        background: rgb(231, 231, 231);
    }
    ::-webkit-scrollbar-thumb{
        background: linear-gradient(180deg, #00ffbf 0%, #1c2324 100%);
        width: 12px;
        border-radius: 24px;
    }
}

html {
    overflow-x: hidden;
}

body {
    font-family: $fontFamily;
    color: $txtColor;
    font-size: $fontSizeNormal;
    line-height: 1.5;
    background-color: $bodyBg;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    text-decoration: none !important;
    color: unset !important;
}

img {
    width: 100%;
}

ul,
li {
    list-style-type: none;
}

.mb {
    margin-bottom: $spacing;

    @include tablet {
        margin-bottom: $mobileSpacing;
    }
}

.title {
    font-size: $fontSizeMedium;
    font-weight: 700;
}

.txt-success {
    color: $green;
}

.txt-danger { 
    color: $red;
}