@use '../scss/abstracts/' as *;

.main {
    padding-left: $sideBarWidth;
    overflow-x: hidden;
    background: $middleBG;
    ::-webkit-scrollbar{
        width: 6px;
    }
    ::-webkit-scrollbar-track{
        background: #ccc;
    }
    ::-webkit-scrollbar-thumb{
        background: #02AAB0;
        border-radius: 24px;
    }

    @include tablet {
        padding-left: 0;
        width: 100vw;
    }

    &__content {
        min-height: 100vh;
        padding: $spacing;
        transition: all 0.5s ease-in-out;

        @include tablet {
            padding: $mobileSpacing;
            position: relative;
            background-color: $middleBG;
            z-index: 100;
        }
    }
}

.sidebar-open .main__content
{
    height: 100vh;
    overflow: hidden;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transform: scale(0.8) translateX(50%);
    transition: all 0.5s ease-in-out;
}